body{
  margin: 0;
  background-color: #292B2F;
}

.allContainer{
  display: flex;
}

.margin{
  width: 20.1rem;
  height: 100vh;
}

.homeContainer{
  flex-grow: 1;
}

.welcome{
  width: 87%;
  height: auto;
  margin: 0 auto;
}

.welcomeContainer{
  width: 100%;
  height: 12.5vw;
  margin: 0 auto;
  background-color: #2F3136;
  margin-top: 2.5rem;
}

.welcomeTitle{
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 2.9vw;
  font-weight: 330;
  font-size: 1.9vw;
}

.welcomeText{
  color: #B9BBBE;
  width: 100%;
  text-align: center;
  padding-top: 2vw;
  font-weight: 330;
  font-size: 1.05vw;
}

.viewButton{
  width: 10.1vw;
  height: 1.9vw;
  background-color: #5865F2;
  border-radius: 8px;
  margin-top: 1.55vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85vw;
  font-weight: 300;
  color: white;
}

.guideContainer{
  width: 93.6%;
  height: auto;
  margin: 0 auto;
  margin-top: 2.3vw;
}

.guideTitle{
  color: white;
  font-size: 1.7vw;
  font-weight: 800;
}

.guideBox{
  width: 95%;
  height: 24vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.7vw;
  background-color: #202225;
  padding: 3.5% 2.5% 0 2.5%;
  border-radius: 5px;
}

.guideContents{
  width: 22.5%;
  height: auto;
  border-radius: 5px;
}

body::-webkit-scrollbar {
  display: none;
}

.guideContentsContainer{
  width: 100%;
  height: 19vw;
  background-color: #18191C;
  border-radius: 4px;
}

.goButton{
  width: 100%;
  height: 1.8vw;
  background-color: #5865F2;
  margin-top: 1rem;
  border-radius: 7px;
  text-align: center;
  color: white;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  justify-content: center;
}